body {
  background-color: #F3F3F3;
}

.container {
  padding: 0;
  text-align: center;
}


.separator{
	padding: 12pt;
}

hr {
  margin-top: 20pt;
  margin-bottom: 20pt;
}

h2 {
	margin-top: 0;
}

.questions-table {
  margin: 0 auto;
  border-collapse: collapse;
}

.questions-header {
  text-align: center;
}

.questions-header, .questions-cell {
  padding: 15px;
}

.description {
  max-width: 700px;
}

.record-table {
  float: left;
}

button {
  margin: 0 3px;
}
